//try/requirement1.exe
try/*.exe
try/*.exe.stackdump
try/*.json
try/.vscode/*.json
learn/*.exe
.vscode/settings.json
try/.vscode/*.json
try/.vscode/settings.json
openblas/*.exe
openblas/*.exe.stackdump
1d_class/*.exe
1d_class/.vscode/settings.json
try/.vscode/settings.json
